
<web-app>
<servlet>
<servlet-name>s1</servlet-name>
<servlet-class>ServletDemoApp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/www.abhi.co.in</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ss</servlet-name>
<servlet-class>StudentServer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ss</servlet-name>
<url-pattern>/student</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s3</servlet-name>
<servlet-class>LoginServer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s3</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s4</servlet-name>
<servlet-class>RegistrationServer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s4</servlet-name>
<url-pattern>/reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s5</servlet-name>
<servlet-class>SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s5</servlet-name>
<url-pattern>/mysearch</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s6</servlet-name>
<servlet-class>DisplayImage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s6</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s7</servlet-name>
<servlet-class>DownloadServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s7</servlet-name>
<url-pattern>/servlet/DownloadServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>s8</servlet-name>
<servlet-class>Spotify</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s8</servlet-name>
<url-pattern>/servlet/Spotify</url-pattern>
</servlet-mapping>


</web-app>
